<div>
	<br>Nombre: <%= @user.full_name %>
</div>
<div>
	Username: <%= @user.username %>
</div>
<div>
	Email: <%= @user.email %>
</div>

<h3> Tiene los siguientes Grupos: </h3>

<table class = "table table-bordered table-hover">

	<tr>
		<th class="text-center">Nombre</th>
		<th class="text-center">Número de estudiantes</th>
	</tr>

	<% @teacher.groups.each do |group| %>
		<tr>
			<td class="text-center">
				<%= group.name %>
			</td>

			<td class="text-center">
				<%= group.students.count %>

				<div class="pull-right">
					<a href="" class="btn btn-success btn-xs">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>

					<%= link_to raw("<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>"), teacher_groups_delete_path(group), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
				
			</td>
		</tr>
	<% end %> 
	<%= form_for :group, url: teacher_groups_create_path do |f| %>
		<tr>
		 	<td>
		    	<%= f.text_field :name %>
		 	</td>
		  		<%= f.hidden_field :teacher_id, value: params[:username]%>
		  	<td>
		    	<%= f.submit %>
		  	</td>
		</tr>
	<% end %>
</table>