<div class="form-horizontal">
  <legend>Resend confirmation instructions</legend>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <% error = check_error(@user.errors, :email) %>
    <div class="form-group <%= error[:error_class] %>" >
      <label class="col-md-4 control-label">Email</label>  
      <div class="col-md-5">
        <div>
          <%= f.email_field :email, autofocus: true, class: "form-control input-md", placeholder: "username@unal.edu.co" %>
        </div>
        <p class="help-block">Insert your university's email</p>
        <p class="help-block"> <%= error[:error_message] %></p> 
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>