<div class="form-horizontal dropzone">
  <legend>Editar problema</legend>
  <%= form_for :problem, :method => :PUT, url: problem_update_path do |f| %>
    <div class="form-group" >
      <label class="col-md-4 control-label">ID <%= @problem.id%></label>  
    </div>
    <div class="form-group" >
      <label class="col-md-4 control-label">Nombre</label>  
      <div class="col-md-5">
        <div>
          <%= f.text_field :name, autofocus: true, class: "form-control input-md", placeholder: "name" %>
        </div>
      </div>
    </div>
    <div class="form-group" >
      <label class="col-md-4 control-label">Enunciado del problema</label>  
      <div class="col-md-5">
        <div>
          <%= f.file_field :pdf, class: "form-control input-md", accept: ".pdf", placeholder: "seleccionar archivo..." %>
        </div>
        <p class="help-block"> Este archivo debe ser el enunciado en formato pdf </p> 
      </div>
    </div>
    <div class="form-group" >
      <label class="col-md-4 control-label">Archivo comprimido</label>  
      <div class="col-md-5">
        <div>
          <%= f.file_field :file, class: "form-control input-md", accept: ".zip", placeholder: "seleccionar archivo..." %>
        </div>
        <p class="help-block"> Este archivo debe contener casos de prueba debidamente emparejados con .in y .out</p> 
      </div>
    </div>
    <div class="form-group" >
      <label class="col-md-4 control-label">Tiempo límite</label>  
      <div class="col-md-5">
        <div>
          <%= f.text_field :time_limit, class: "form-control input-md", placeholder: "tiempo en ms" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Lenguajes</label>
      <div class="col-md-5">
        <% @available_languages.each do |lang| -%>
          <% val = "0" %>
          <% if lang[ 2 ] == 1 %>
            <% val = "1" %>
          <% end %> 
          <%= check_box_tag(lang[ 0 ], value = val, checked = ( val == "1" )) %>
          <%= label_tag(lang[ 0 ], lang[ 1 ]) %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <%= f.submit "Editar problema", class: "btn btn-primary", data: {disable_with: "Editando..."} %>
      </div>
    </div>
  <% end %>
</div>

<br>
<legend>Casos de prueba</legend>
<div class="table-responsive">
  
  <table class="table table-bordered table-hover">
    
    <%caseCnt = 0%>
    <%@problem.test_cases.each do |tCase|%>

      <tr>

        <td class="text-center">
          Test Case <%=(caseCnt + 1)%>

          <div class="pull-right">
            <%= link_to raw("<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>"), problem_show_test_case_path( @problem.id, caseCnt ), class: "btn btn-success btn-xs" %>

            <%= link_to raw("<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>"), problem_delete_test_case_path( @problem.id, caseCnt ), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>

        </td>

        <%caseCnt += 1%>

      </tr>

    <%end%>

  </table>

</div>