<%
  @error = ""
  @error_class = ""

  def check_error(param)
    if @user.errors.include?(param) 
      @error_class = " has-error"
      @error = "*" + @user.errors.full_messages_for(param)[0]
    else 
      @error = ""
      @error_class = ""
    end
  end
%>

<div class="form-horizontal">
  <legend>Edit <%= resource_name.to_s.humanize %></legend>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%check_error(:email)%>
    <div class="form-group <%= @error_class %>" >
      <label class="col-md-4 control-label">Email</label>  
      <div class="col-md-5">
        <div>
          <%= f.email_field :email, autofocus: true, class: "form-control input-md", placeholder: "username@unal.edu.co" %>
        </div>
        <p class="help-block">Insert your university's email</p>
        <p class="help-block"> <%= @error %></p> 
      </div>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <%check_error(:password)%>
    <div class="form-group  <%= @error_class %>">
      <label class="col-md-4 control-label">New password</label>
      <div class="col-md-5">
        <%= f.password_field :password, autocomplete: "off", class: "form-control input-md", placeholder: "******" %>
        <span class="help-block">At least 6 characters(leave blank if you don't want to change it)</span>
        <p class="help-block"> <%= @error %></p> 
      </div>
    </div>
    <%check_error(:password_confirmation)%>
    <div class="form-group  <%= @error_class %>">
      <label class="col-md-4 control-label">New password confirmation</label>
      <div class="col-md-5">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-md", placeholder: "******" %>
        <span class="help-block">Confirm your password</span>
        <p class="help-block"> <%= @error %></p> 
      </div>
    </div>
    <%check_error(:current_password)%>
    <div class="form-group  <%= @error_class %>">
      <label class="col-md-4 control-label">Current password</label>
      <div class="col-md-5">
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control input-md", placeholder: "******" %>
        <span class="help-block">We need your current password to confirm your changes</span>
        <p class="help-block"> <%= @error %></p> 
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
