<!--Antes estaba length  == 0 -->
<%if contests == nil%>
	<p>No hay contests.</p>
<%else%>
	<%maxProblems = 2%>
	<h1><%=name%><span class="badge" ><%=contests.length%> </span></h1>
	<div class="table-responsive">
		<!--striped condensed -->
		<table id="problemsInContestTable" class="table table-bordered table-hoverm table-condensed">
			<tr class = "success">
				<th>
					ID
				</th>
				
				<th>
					Nombre
				</th>
				<th id="problemTh3">Fecha Inicial</th>
				<th id="problemTh4">Fecha Final</th>
			</tr>
			<% contests.each do |r| %>
				<tr>
				<td> <%= link_to r.id, contest_path(r.id) %> </td>
				<td> <%= r.name %> </td>
				<td> <%= r.start_date %> </td>
				<td> <%= r.end_date %> </td>
			</tr>		

			<% end %>
		</table>
	</div>

	<%if contests.length > maxProblems%>

		<ul class="pager" style="margin-top:0em;">
			<li class="disabled" id="problemPrevLi" >
				<a href="JavaScript:void(0)" onclick="updateTable( 'problem', contests, maxProblems, false );">Anterior</a>
			</li>
			<li class="<%='disabled' if contests.length <= maxProblems%>" id="problemNextLi">
				<a href="JavaScript:void(0)" onclick="updateTable( 'problem', contests, maxProblems, true );">Siguiente</a>
			</li>
		</ul>

		<%end%>

<%end%>


<script type="text/javascript">

		var curPage = { 'problem' : 0 };
		
		var maxProblems = '<%=maxProblems%>';
		var problems = [];
		var cntProblems = 0;

		<%contests.each do |problem|%>
			var id = '<%=problem.id%>';
			var name = '<%=problem.name%>';
			var date = '<%=problem.created_at%>';
			problems[cntProblems++] = [id, name, date];
		<%end%>

		if(cntProblems > 0){
			clearTable( document.getElementById( 'problemTable' ) );
			fillTable( document.getElementById( 'problemTable' ), problems, maxProblems, 3, 0 );
		}

		function fillTable( table, list, maxRows, numCells, page ){
			for( var i = 0; i < maxRows; i++ ){
				if( page * maxRows + i >= list.length ) break;
				var row = table.insertRow(i+1);
				var data = list[ page * maxRows + i ];
				
				for( var j = 0; j < numCells; j++ ){
					row.insertCell();
					row.cells[j].innerHTML = data[j];
				}

				row.cells[0].innerHTML = "<a href='/problem/" + data[0] + "'>" + data[0] + "</a>";
			}
		}

		function clearTable( table ){
			var i = table.rows.length;
			while( table.rows.length > 1 )
				table.deleteRow(--i);
		}

		function updateTable( name, list, maxRows, forward ){
			if( forward ){
				if( document.getElementById( name + 'NextLi' ).className == 'disabled' ) return;
				curPage[ name ]++;
				document.getElementById( name + 'PrevLi' ).className = '';
				if( list.length <= maxRows * ( curPage[ name ] + 1 ) )
					document.getElementById( name + 'NextLi' ).className = 'disabled';
			}
			else{
				if( document.getElementById( name + 'PrevLi' ).className == 'disabled' ) return;
				curPage[ name ]--;
				if( curPage[ name ] == 0 )
					document.getElementById( name + 'PrevLi' ).className = 'disabled';
				document.getElementById( name + 'NextLi' ).className = '';
			}

			//document.getElementById( 'cout' ).innerHTML = curPage;
			table = document.getElementById( name + "Table" );
			clearTable( table );
			fillTable( table, list, maxRows, list[0].length, curPage[name] );
		}

		function sortTable( name, list, maxRows, id ){
			curPage[ name ] = 0;
			document.getElementById( name + 'PrevLi' ).className = 'disabled';
			document.getElementById( name + 'NextLi' ).className = (maxRows >= list.length) ? 'disabled' : '';

			var th = document.getElementById( name + 'Th' + id ).getElementsByTagName( 'span' )[0];
			if( th.className.substring( th.className.length - 4 ) != '-alt' ){
				th.className += '-alt';
				list.sort( function( l1, l2 ){return l1[id].toLowerCase() > l2[id].toLowerCase();} );
			}
			else{
				th.className = th.className.substring( 0, th.className.length - 4 );
				list.sort( function( l1, l2 ){return l1[id].toLowerCase() < l2[id].toLowerCase();} );
			}

			var table = document.getElementById( name + 'Table' );
			clearTable( table );
			fillTable( table, list, maxRows, list[0].length, curPage[name] );
		}

	</script>


