<div class="form-horizontal dropzone">
  <legend>Nueva Competencia</legend>
  <%= form_for :contest, url: contest_create_path do |f| %>
    <% error = check_error(@contest.errors, :name) %>
    <div class="form-group <%= error[:error_class] %>" >
      <label class="col-md-4 control-label">Nombre</label>  
      <div class="col-md-5">
        <div>
          <%= f.text_field :name, autofocus: true, class: "form-control input-md", placeholder: "nombre" %>
        </div>
        <p class="help-block"> <%= error[:error_message] %></p> 
      </div>
    </div>
    <% error = check_error(@contest.errors, :start_date) %>
    <div class="form-group <%= error[:error_class] %>" >
      <label class="col-md-4 control-label">Tiempo límite</label>  
      <div class="col-md-5">
        <div>
          <%= f.datetime_select :start_date, class: "form-control input-md"%>

        </div>
        <p class="help-block"> <%= error[:error_message] %></p> 
      </div>
    </div>
    <% error = check_error(@contest.errors, :end_date) %>
    <div class="form-group <%= error[:error_class] %>" >
      <label class="col-md-4 control-label">Tiempo límite</label>  
      <div class="col-md-5">
        <div>
          <%= f.datetime_select :end_date, class: "form-control input-md"%>
        </div>
        <p class="help-block"> <%= error[:error_message] %></p> 
      </div>
    </div>
    <%= f.hidden_field :teacher_id, value: @teacher_id%>

    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <%= f.submit "Crear contest", class: "btn btn-primary", data: {disable_with: "Creando..."}%>
      </div>
    </div>
  <% end %>
</div>