<div>

	<%if @users.length == 0%>
		<p>No se encontraron resultados de usuarios.</p>
	<%else%>
		<%@users.sort%>
		<%maxUsers = 2%>
		<h1>Usuarios <span class="badge" ><%=@users.length%> </span></h1>
		<div class="table-responsive">		
			<!--striped condensed -->
			<table id="userTable" class="table table-bordered table-hoverm table-condensed">
				
				<tr class = "success">
					<th id="userTh0" onclick="sortUsers( 'user', users, maxUsers, 0 );">
						Usuario
						<span class='glyphicon glyphicon-sort-by-alphabet-alt pull-right' aria-hidden='true'></span>
					</th>
					<th id="userTh1" onclick="sortUsers( 'user', users, maxUsers, 1 );">
						Nombre
						<span class='glyphicon glyphicon-sort-by-alphabet pull-right' aria-hidden='true'></span>
					</th>
					<th id="userTh2" onclick="sortUsers( 'user', users, maxUsers, 2 );">
						Correo
						<span class='glyphicon glyphicon-sort-by-alphabet pull-right' aria-hidden='true'></span>
					</th>
				</tr>

				

			</table>

		</div>
			
		<ul class="pager" style="margin-top:0em;">
			<li class="disabled" id="userPrevLi" >
				<a href="JavaScript:void(0)" onclick="updateTable( 'user', users, maxUsers, false );">Anterior</a>
			</li>
			<li class="<%='disabled' if @users.length <= maxUsers%>" id="userNextLi">
				<a href="JavaScript:void(0)" onclick="updateTable( 'user', users, maxUsers, true );">Siguiente</a>
			</li>
		</ul>

		<div id="cout"> </div>

		
	<%end%>

	<script type="text/javascript">

		var curPage = { 'user' : 0 };
		var maxUsers = '<%=maxUsers%>';
		var users = [];
		var cntUsers = 0;

		<%@users.each do |user|%>
			var username = '<%=user.username%>';
			var fullname = '<%=user.full_name%>';
			var email = '<%=user.email%>';
			users[cntUsers++] = [username, fullname, email];
		<%end%>

		users.sort( function( u1, u2 ){return u1[0].toLowerCase() > u2[0].toLowerCase();} );
		fillTable( document.getElementById( 'userTable' ), users, maxUsers, 3, 0 );

		function fillTable( table, list, maxRows, numCells, page ){
			for( var i = 0; i < maxRows; i++ ){
				if( page * maxRows + i >= list.length ) break;
				var row = table.insertRow(i+1);
				var data = list[ page * maxRows + i ];
				row.insertCell();
				row.insertCell();
				row.insertCell();
				row.cells[0].innerHTML = "<a href='/profile/" + data[0] + "'>" + data[0] + "</a>";
				row.cells[1].innerHTML = data[1];
				row.cells[2].innerHTML = data[2];
			}
		}

		function clearTable( table ){
			var i = table.rows.length;
			while( table.rows.length > 1 )
				table.deleteRow(--i);
		}

		function updateTable( name, list, maxRows, forward ){
			if( forward ){
				if( document.getElementById( name + 'NextLi' ).className == 'disabled' ) return;
				curPage[ name ]++;
				document.getElementById( name + 'PrevLi' ).className = '';
				if( list.length <= maxRows * ( curPage[ name ] + 1 ) )
					document.getElementById( name + 'NextLi' ).className = 'disabled';
			}
			else{
				if( document.getElementById( name + 'PrevLi' ).className == 'disabled' ) return;
				curPage[ name ]--;
				if( curPage[ name ] == 0 )
					document.getElementById( name + 'PrevLi' ).className = 'disabled';
				document.getElementById( name + 'NextLi' ).className = '';
			}

			//document.getElementById( 'cout' ).innerHTML = curPage;
			table = document.getElementById( name + "Table" );
			clearTable( table );
			fillTable( table, list, maxRows, list[0].length, curPage[name] );
		}

		function sortUsers( name, list, maxRows, id ){
			curPage[ name ] = 0;
			document.getElementById( name + 'PrevLi' ).className = 'disabled';
			document.getElementById( name + 'NextLi' ).className = (maxRows >= list.length) ? 'disabled' : '';

			var th = document.getElementById( name + 'Th' + id ).getElementsByTagName( 'span' )[0];
			if( th.className == 'glyphicon glyphicon-sort-by-alphabet pull-right' ){
				th.className = 'glyphicon glyphicon-sort-by-alphabet-alt pull-right'
				list.sort( function( l1, l2 ){return l1[id].toLowerCase() > l2[id].toLowerCase();} );
			}
			else{
				th.className = 'glyphicon glyphicon-sort-by-alphabet pull-right'
				list.sort( function( l1, l2 ){return l1[id].toLowerCase() < l2[id].toLowerCase();} );
			}

			var table = document.getElementById( name + 'Table' );
			clearTable( table );
			fillTable( table, list, maxRows, list[0].length, curPage[name] );
		}

	</script>

</div>

