<%if @submissions.length == 0%>
	<p>No se encontraron resultados de problemas.</p>
<%else%>
	<h1>Submissions <span class="badge" ><%=@submissionsTotal%> </span></h1>
	<div class="table-responsive">
		<!--striped condensed -->
		<table class="table table-bordered table-hoverm table-condensed">
			
			<tr class = "success">
				
				<th>
					ID
					<%new_params = params.merge( {action: "paginate", table: table_type, order:'id ' + @send_order['id'] } ).permit!%>
					<%= link_to raw("<span class='pull-right glyphicon glyphicon glyphicon-sort-by-order" + @icon_order['id'] + "' aria-hidden='true'></span>"), new_params, method: 'get',remote: true, class: "no-link" %>
				</th>
				
				<th>
					Problema
					<%new_params[:order] = 'problem_id ' + @send_order['problem_id']%>
					<%= link_to raw("<span class='pull-right glyphicon glyphicon glyphicon-sort-by-order" + @icon_order['problem_id'] +"' aria-hidden='true'></span>"), new_params, method: 'get',remote: true, class: "no-link" %>
				</th>

				<th>
					Usuario
					<%new_params[:order] = 'user_id ' + @send_order['user_id']%>
					<%= link_to raw("<span class='pull-right glyphicon glyphicon glyphicon-sort-by-alphabet" + @icon_order['user_id'] + "' aria-hidden='true'></span>"), new_params, method: 'get',remote: true, class: "no-link" %>
				</th>

				<th>
					Veredicto
					<%new_params[:order] = 'verdict ' + @send_order['verdict']%>
					<%= link_to raw("<span class='pull-right glyphicon glyphicon glyphicon-sort-by-alphabet" + @icon_order['verdict'] + "' aria-hidden='true'></span>"), new_params, method: 'get',remote: true, class: "no-link" %>
				</th>

				<th>
					Lenguaje
					<%new_params[:order] = 'language ' + @send_order['language']%>
					<%= link_to raw("<span class='pull-right glyphicon glyphicon glyphicon-sort-by-alphabet" + @icon_order['language'] + "' aria-hidden='true'></span>"), new_params, method: 'get',remote: true, class: "no-link" %>
				</th>

				<th>
					Tiempo
					<%new_params[:order] = 'execution_time ' + @send_order['execution_time']%>
					<%= link_to raw("<span class='pull-right glyphicon glyphicon glyphicon-sort-by-attributes" + @icon_order['execution_time'] + "' aria-hidden='true'></span>"), new_params, method: 'get',remote: true, class: "no-link" %>
				</th>

				<th>
					Hora
					<%new_params[:order] = 'created_at ' + @send_order['created_at']%>
					<%= link_to raw("<span class='pull-right glyphicon glyphicon glyphicon-sort-by-attributes" + @icon_order['created_at'] + "' aria-hidden='true'></span>"), new_params, method: 'get',remote: true, class: "no-link" %>
				</th>



			</tr>

			<% @submissions.each do |submission| %>
			<tr>
				<td> <%= link_to submission.id, submission_show_path(submission.id), class: "lightview" %> </td>
				<td> <%= link_to submission.problem_id, problem_path(submission.problem_id) %> </td>
				<%username = User.find(submission.user_id).username%>
				<td> <%= link_to username, profile_path(username) %> </td>
				<td> <%= submission.verdict %> </td>
				<td> <%=submission.language%> </td>
				<td> <%=submission.execution_time%> </td>
				<td> <%=submission.created_at%> </td>
			</tr>
			<% end %>

		</table>
	</div>

	<div class="text-center">
		<%new_params = params.merge( {action: "paginate", table: table_type, pageIdSubm: params[:pageIdSubm].to_i-1} ).permit!%>
		<%= button_to 'Anterior', new_params, method: 'get', remote: true, class: ("btn btn-default btn-round" + @disableSubmPrevButton) %>
		
		<%new_params[:pageIdSubm] = params[:pageIdSubm].to_i+1%>
		<%= button_to 'Siguiente', new_params , method: 'get', remote: true, class: ("btn btn-default btn-round" + @disableSubmNextButton) %>
	</div>

<%end%>