<form class="form-horizontal">
  <fieldset>
    <legend>Log in</legend>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% e = check_error(:email) %>
      <% modify_email() %>
      <div class="form-group <%= e.style %>">
        <label class="col-md-4 control-label">Username</label>
        <div class="col-md-5">
          <div class="input-group">
            <%= f.text_field :email, autofocus: true, class: "form-control", placeholder: "username" %>
            <span class="input-group-addon">@unal.edu.co</span>
          </div>
          <p class="help-block">Insert your university's username</p>
          <p class="help-block"> <%= e.message %></p> 
        </div>
      </div>
      <% e = check_error(:password) %>
      <div class="form-group <%= e.style %>">
        <label class="col-md-4 control-label" for="passwordinput">Password</label>
        <div class="col-md-5">
          <%= f.password_field :password, autocomplete: "off", class: "form-control input-md", placeholder: "******" %>
          <p class="help-block"> <%= e.message %></p> 
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="checkboxes"></label>
        <div class="col-md-4">
          <label>
            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
            <% end -%>
            Remember me
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </fieldset>
</form>

<%= render "devise/shared/links" %>