<div class="form-horizontal">
  <legend>Sign up</legend>
  <%= form_for (@user), url: user_index_path   do |f| %>
    <% @user.errors.full_messages.each do |message| %>
      * <%= message %> <br>
    <% end %>
    <div class="form-group">
      <label class="col-md-4 control-label">Full Name</label>  
      <div class="col-md-5">
        <%= f.text_field :full_name, class: "form-control input-md", placeholder: "name" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Username</label>
      <div class="col-md-5">
        <div class="input-group">
          <%= f.text_field :email, class: "form-control", placeholder: "example" %>
          <span class="input-group-addon">@unal.edu.co</span>
        </div>
        <p class="help-block">Insert your university's username</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Username confirmation</label>
      <div class="col-md-5">
        <div class="input-group">
          <%= f.text_field :email_confirmation, class: "form-control", placeholder: "example" %>
          <span class="input-group-addon">@unal.edu.co</span>
        </div>
        <p class="help-block">Confirm your university</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Password</label>
      <div class="col-md-5">
        <%= f.password_field :password, class: "form-control input-md", placeholder: "******" %>
        <span class="help-block">At least 6 characters</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Password confirmation</label>
      <div class="col-md-5">
        <%= f.password_field :password_confirmation, class: "form-control input-md", placeholder: "******" %>
        <span class="help-block">Confirm your password</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <%= f.submit "Register", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
