<p class="has_error"> <%= params[:NotFound] %></p> 

<div>
	<br>Nombre del grupo: <%= @group.name %>
</div>
<h3> Tiene los siguientes Estudiantes: </h3>

<table class = "table table-bordered table-hover">

	<tr>
		<th class="text-center">Nombre</th>
		<th class="text-center">Email</th>
	</tr>

	<% @group.students.each do |student| %>
		<% user = User.find_by( username: student.username ) %>
		<tr>
			<td class="text-center">
				<%= user.full_name %>
			</td>

			<td class="text-center">
				<%= user.email %> (<%= user.username %>)

				<div class="pull-right">
					<%= link_to raw("<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>"), group_student_delete_path(@group.id, student.id), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			</td>
		</tr>
	<% end %> 
</table>
<h4>Agregar estudiantes</h4>
<%= form_for :info_student, url: group_add_student_path do |f| %>
	<%= f.text_area :student_email, placeholder: 'Correo de los estudiantes', size: "50x5" %>
 	<%= f.hidden_field :id_group, value: @group.id%>
 	<br><br>
  	<%= f.submit 'Agregar estudiantes'%>
<% end %>