<h1>Create new group</h1>

<% @group.errors.full_messages.each do |message| %>
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= message %>
    </div>
<% end %>

<%= form_for :group ,url: teacher_groups_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.hidden_field :teacher_id%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>